<div class="expense-list">
	<button type="button" class="btn expenseBtn" ng-click="open()">Add An Expense</button>
	<map class="map" center="{{data.center.lat}}, {{data.center.lng}}" zoom="4">
		
		<marker position="{{expense.location.lat}},{{expense.location.lng}}" on-click="showInfoWindow(event, 'marker-info')" ng-repeat="expense in data.expenses"> <info-window id="marker-info">
		      <h4>
		      	{{ expense.payer.username }} paid for {{expense.name}} {{expense.date !== undefined ? 'on '+ (expense.date|date) : ''}} at {{ expense.locationString }}
		      	<p>{{expense.expenseString}} (${{ expense.amount.toFixed(2) }})</p>
				</h4>
		  </info-window>
		</marker>
		   
	</map>
	<div ng-controller="ExpenseAccordionController">
				<div class="alert alert-info text-center" ng-hide="data.expenses.length">
			<span>No expenses added yet.</span>
		</div>
	  <accordion close-others="oneAtATime">
	    <accordion-group heading="{{ expense.payer.username }} paid for {{expense.name}} {{expense.date !== undefined ? 'on '+ (expense.date|date) : ''}} at {{ expense.locationString }}" ng-repeat="expense in data.expenses">
	    

	      <p>{{expense.expenseString}} (${{ expense.amount.toFixed(2) }}) will be split among:</p>
	      <ul>
	      	<li ng-repeat="friend in expense.stakeholders">{{ friend.username }}</li>
	      </ul>
	    </accordion-group>
	  </accordion>
	</div>
</div>