body {
  background-color: #f8f8f8;
}

a:hover {
  cursor: pointer;
}

h2,
h5 {
  font-weight: normal;
  color: #d32f2f;
  text-align: center;
}

h1 {
  font-weight: normal;
  color: #d32f2f;
  display: inline-block;
}

/* BUTTONS */

.btn {
  border-radius: 0;
  background-color: #00bcd4;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #00abc0;
}

/* SIGNIN/SIGNUP PAGES */

.authForm > *,
.authLink {
  margin-top: 2rem;
}

.authLink {
  display: inline-block;
  text-align: center;
  color: #727272;
}

.authLink:hover,
.authLink:focus {
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

/* FALLBACK PAGE */

.jumbotron {
  background-color: #f8f8f8;
  padding-top: 0;
  padding-bottom: 0;
}

.jumbotron p {
  font-size: 18px;
}

/* CURRENT TRIP PAGE */

.creator {
  color: #727272;
}

.endTrip {
  margin-top: 2.5rem;
}

.expenseBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.panel-heading {
  border: 1px solid #d32f2f !important;
  border-radius: 0;
}

/*  NAV BAR */

#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#menu.navbar-default {
    font-size: 14px;
    background-color: rgba(244, 67, 54, 1);
    border-width: 0px;
    border-radius: 0px;
}

#menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}

#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 67, 54, 1);
}

#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 67, 54, 1);
}

#menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #f44336;
}

#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
