<div id="menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" ui-sref="fallback">VacayPay</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="pastTrip">Past Trips</a></li>
        <li><a ng-click="logout()">Logout {{ username }}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron">
    <h2 >Hi, {{ username }}!</h2>
    <p>Click below when you're ready to embark on a new journey!</p>
    <button type="button" class="btn" ng-click="open()">Start Trip</button>
  </div>

  <hr>

  <div class="jumbotron">
    <p>Friends already on a trip? Type in their trip code to join them!</p>
    <form name="joinTripForm" ng-submit="joinTrip()">
      <input type="text" name="code" ng-model="tripCode" placeholder="Trip Code" required>
      <button type="submit" class="btn">Join Trip</button>
    </form>
  </div>
  
  <div ng-show="error" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Not a valid trip code =(
  </div>

  <hr>

  <div class="jumbotron" ng-show="hasRecentTrip">
    <h2>Details from your most recent trip...</h2>
    <tabset justified="true">

      <tab heading="Overview">
        <h3>{{ recentTrip.name }}</h3>
        <p>This trip was created by {{ recentTrip.creator.username }}.</p>
        <p>There were {{ recentTrip.expenses.length }} expenses totaling {{ totalExpenses | currency }}.</p>
        <p>Here are your friends who were a part of this trip:</p>
        <ul>
          <li ng-repeat="friend in recentTrip.participants"><p>{{ friend.username }}</p></li>
        </ul>
      </tab>

      <tab heading="Expenses">
        <div>
          <accordion close-others="oneAtATime">
            <accordion-group heading="{{ expense.payer.username }} paid for {{expense.name}} {{expense.date !== undefined ? 'on '+ (expense.date|date) : ''}}" ng-repeat="expense in recentTrip.expenses">
              <p>{{ expense.amount | currency }} was split among:</p>
              <ul>
                <li ng-repeat="friend in expense.stakeholders">{{ friend.username }}</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </tab>

      <tab heading="Settle Out" selected>
        <ul>
          <li ng-repeat="transaction in recentTrip.summary"><p>{{ transaction.username }} owes {{ transaction.payee.username }} {{ transaction.payee.amount | currency }}.</p></li>
        </ul>
      </tab>

    </tabset>

  </div>
</div>
