<div id="createExpense" class="modal-header">
  <h3 class="modal-title">Add A New Expense</h3>
</div>
  <form class="form-horizontal" ng-submit="addExpense()" ng-model="expense">
    <div class="modal-body">
      <div class="form-group">
        <label for="expenseName" class="col-sm-2 control-label">Item</label>
        <div class="col-sm-10">
          <input ng-model="expense.name" type="text" class="form-control" id="expenseName" placeholder="What did you cover?" maxlength="40" required>
        </div>
      </div>
      <div class="form-group">
        <label for="expenseAmount" class="col-sm-2 control-label">Cost</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="expense.amount" type="number" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" required/>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="currency" class="col-sm-2 control-label">Currency</label>
        <div class="col-sm-10">
          <div ng-dropdown-multiselect="" options="currencyData" selected-model="currencyModel" extra-settings="currDropdownSettings"></div>
          <button ng-click='testFunc()'>Convert!</button>
        </div>
      </div>

      <div class="form-group">
        <label for="expenseContributors" class="col-sm-2 control-label">Contributors</label>
        <div class="col-sm-10">
          <div ng-dropdown-multiselect="" options="participants" selected-model="stakeholders" extra-settings="dropdownSettings" translation-texts="buttonText"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="expenseDate" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <input ng-model="expense.date" type="date" class="form-control" id="expenseDate" required>
        </div>
      </div>
      <div class="form-group">
        <label for="expenseLocation" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
          <input ng-model="expense.location" type="text" class="form-control" id="expenseLocation" placeholder="Where did this happen?" maxlength="100" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>