<div id='signin'>
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text' name='username' ng-model='user.username' required>
    <input type="password" name='password' ng-model='user.password' required>
    <button type="submit">signin</button>
  </form>

  <div class="message" ng-show="signinForm.username.$error.text">
    Please enter a username.
  </div>

  <div class="message" ng-show="signinForm.password.$error.password">
    Please enter a password.
  </div>

  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
