<div id="menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" ui-sref="fallback">VacayPay</a>
<!--       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
 -->    </div>
<!--     <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="pastTrip">Past Trips</a></li>
        <li><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
 -->  </div>
</div>

<div id="signin">
  <h2>Sign In</h2>
  <form name="signinForm" class="authForm" ng-submit="signin()">
    <div class="row">
      <input class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" type="text" name="username" ng-model="user.username" placeholder="Username" required><br>
    </div>
    <div class="row">
      <input class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" type="password" name="password" ng-model="user.password" placeholder="Password" required><br>
    </div>
    <div class="row">
      <button class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5" type="submit">Sign In</button>
    </div>
    <div name='signinError' class='error' ng-show='signinFail'>Error signing in. Please try again.</div>
  </form>

  <div class="message" ng-show="signinForm.username.$error.text">
    Please enter a username.
  </div>

  <div class="message" ng-show="signinForm.password.$error.password">
    Please enter a password.
  </div>

  <div class="row">
    <a class="authLink col-xs-12" ui-sref="signup">Don't have an account? <strong>Sign up</strong>...</a>
  </div>
</div>
